section {
    > h1 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0.5rem 0;
        padding-left: 0.3rem;
        border-bottom: 0.1rem solid $color-green;
        border-left: 0.5rem solid $color-green;
    }
}
