        <% provide(:title, 'アパート・マンション清掃 | メリエックス株式会社') %>

        <main class="container service apaman">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>アパート・マンション清掃</h2>
                    </div>
                    <dl class="works">
                        <dt>マンション・アパート 共有部分の清掃</dt>
                        <dd>
                            <ul>
                                <li>出入り口の扉、ガラス戸の清掃</li>
                                <li>メールボックスの清拭</li>
                                <li>チラシの回収</li>
                                <li>ゴミ収集場所の清掃</li>
                                <li>床の掃き清掃</li>
                                <li>高所ガラス清掃</li>
                                <li>電球・蛍光灯の交換</li>
                                <li>階段・手すり清掃</li>
                                <li>エレベ－タ－内拭き上げ</li>
                                <li>エントランス・階段・通路の高圧洗浄（定期清掃）</li>
                                <li>エントランス・階段・通路のポリッシャ－掛け(定期清掃）</li>
                                <li>自転車置場ゴミ拾いｅｔｃ</li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="prices">
                        <h3>料金表</h3>
                        <ul>
                            <li>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>サービス</th><th>料金（税別）</th><th>内容</th>
                                        </tr>
                                        <tr>
                                            <td>週１回</td><td>12,000円</td><td>作業時間60分</td>
                                        </tr>
                                        <tr>
                                            <td>週２回</td><td>22,000円</td><td>作業時間60分</td>
                                        </tr>
                                        <tr>
                                            <td>週３回</td><td>32,000円</td><td>作業時間60分</td>
                                        </tr>
                                        <tr>
                                            <td>週５回</td><td>48,000円</td><td>作業時間60分</td>
                                        </tr>
                                        <tr>
                                            <td>高圧洗浄</td><td colspan=2>別途見積りいたします。</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <caption>アパート・マンション 引越し後の清掃(トータルクリーニング)</caption>
                                    <tbody>
                                        <tr>
                                            <th>お部屋のタイプ</th>
                                            <th>料金(税別)</th>
                                        </tr>
                                        <tr>
                                            <td>１ルーム</td>
                                            <td>20,000円</td>
                                        </tr>
                                        <tr>
                                            <td>１Ｋ</td>
                                            <td>23,000円</td>
                                        </tr>
                                        <tr>
                                            <td>１ＤＫ</td>
                                            <td>25,000円</td>
                                        </tr>
                                        <tr>
                                            <td>２ＤＫ</td>
                                            <td>30,000円</td>
                                        </tr>
                                        <tr>
                                            <td>２ＬＤＫ</td>
                                            <td>35,000円</td>
                                        </tr>
                                        <tr>
                                            <td>３ＤＫ～</td>
                                            <td>40,000円～</td>
                                        </tr>
                                        <tr>
                                            <td>一戸建て</td>
                                            <td>ご相談ください</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                        <div class="message">
                            <p>高圧洗浄・高所ガラス・床洗浄は別途御見積り致します。</p>
                        </div>
                    </div>
                    <div class="images">
                        <h3>高圧洗浄</h3>
                        <ul class="slider hidden">
                            <li class="slide slide1"></li>
                            <li class="slide slide2"></li>
                            <li class="slide slide3"></li>
                            <li class="slide slide4"></li>
                            <li class="slide slide5"></li>
                            <li class="slide slide6"></li>
                            <li class="slide slide7"></li>
                            <li class="slide slide8"></li>
                            <li class="slide slide9"></li>
                            <li class="slide slide10"></li>
                        </ul>
                    </div>
                </div>
            </div>
