        <% provide(:title, 'カーペット清掃 | メリエックス株式会社') %>
        <% provide(:description, 'カーペット清掃のメリエックス株式会社です。カ－ペット洗浄（スチ－ム方式）,カ－ペットドライクリ－ニング（セミドライ方式）,クリスタルプロ・ドライシステムによるカーペット清掃をおこなっています。') %>
        <% provide(:keywords, 'カーペット清掃,カ－ペット洗浄（スチ－ム方式）,カ－ペットドライクリ－ニング（セミドライ方式）,クリスタルプロ・ドライシステム,清掃,掃除,料金,見積り') %>
        <% provide(:h1, 'カーペット清掃ならメリエックス株式会社') %>

        <main class="container service carpet">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>カーペット清掃</h2>
                        <ul class="slider hidden">
                            <li class="slide slide1"></li>
                            <li class="slide slide2"></li>
                            <li class="slide slide3"></li>
                            <li class="slide slide4"></li>
                        </ul>
                    </div>
                    <dl class="works">
                        <div>
                            <div>東京都を中心に、普段の清掃では落としきれないカーペットの汚れを専用の機材で徹底的に清掃します。</div>
                            <div>オフィス、店舗、クリニック、介護施設の清掃も経験豊富です。</div>
                            <div>定期清掃やスポット清掃、作業内容や料金などお気軽に<a href="/contacts">お問合せ</a>ください。</div>
                        </div>
                        <section>
                            <h1>定期清掃 / スポット清掃</h1>
                            <dl class="description">
                                <dt>ご相談下さい！</dt>
                                <dd>汚れの状況、フロア形式やカーペット材質、乾燥時間等より最適な清掃方法をご提案いたします。</dd>
                                <dd>また、清掃メニューから、ご希望のサービスをお選び頂けます。</dd>
                                <dd>作業時間は早朝・夜間を含む営業時間外などご要望をお伺いさせて頂きます。</dd>
                            </dl>
                            <h2>清掃メニュー</h2>
                            <dl class="menu">
                                <dt>カ－ペット洗浄（スチ－ム方式）</dt>
                                <dd>
                                    <dl>
                                        <dt>特徴</dt>
                                        <dd>高温・高圧の蒸気で洗浄します</dd>
                                        <dt>長所</dt>
                                        <dd>使用洗剤は帯電防止効果、微生物を殺菌する防汚効果にすぐれており、衛生的な床を保ちます</dd>
                                        <dt>使用機材</dt>
                                        <dd>
                                            <ul>
                                                <li>ドライバキュ－ム・ポリシャ－（メタルブラシ使用）</li>
                                                <li>スチ－ム洗浄機（エクストラクタ－）</li>
                                                <li>起毛ブラシ</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </dd>
                                <dt>カ－ペットドライクリ－ニング（セミドライ方式）</dt>
                                <dd>
                                    <dl>
                                        <dt>特徴</dt>
                                        <dd>綿や合成繊維で出来ているパットをポリシャ－に装着させ、バフする事によって汚れを取る方法です</dd>
                                        <dt>長所</dt>
                                        <dd>微生物を殺菌し、汚れが分解しやすく衛生的な床を保ちます。又、作業時間が短く価格が抑えられます。</dd>
                                        <dt>使用機材</dt>
                                        <dd>
                                            <ul>
                                                <li>ドライバキュ－ム・ポリシャ－（ミラクルパット使用）</li>
                                                <li>起毛ブラシ</li>
                                            </ul
                                        ></dd>
                                    </dl>
                                </dd>
                                <dt>クリスタルプロ・ドライシステム</dt>
                                <dd>
                                    <dl>
                                        <dt>特徴</dt>
                                        <dd>環境に配慮した作業です。（汚水を残さず、洗浄後の湿気はありません。）</dd>
                                        <dt>長所</dt>
                                        <dd>薬剤の力により、汚れを結晶化し、ガンコな汚れを包み込み固めます。</dd>
                                        <dt>使用機材</dt>
                                        <dd>
                                            <ul>
                                                <li>ドライバキュ－ム・ポリシャ－（ミラクルパット使用）</li>
                                                <li>乾燥して再度ドライバキュ－ム</li>
                                                <li>起毛ブラシ</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </dd>
                            </dl>
                    </dl>
                    <div class="prices">
                        <h3>料金表</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <th></th><th>スチーム方式</th><th>セミドライ方式</th>
                                </tr>
                                <tr>
                                    <td>〜125㎡</td><td>28,000円</td><td>22,000円</td>
                                </tr>
                                <tr>
                                    <td>126〜330㎡</td><td>300円/㎡</td><td>220円/㎡</td>
                                </tr>
                                <tr>
                                    <td>331㎡〜</td><td>250円/㎡</td><td>180円/㎡</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="images">
                        <h3>作業手順</h3>
                        <ul class="slider works hidden">
                            <li class="slide slide1">
                                <div class="message">作業手順</div>
                            </li>
                            <li class="slide slide2">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide3">
                                <div class="message">備品の片付け</div>
                            </li>
                            <li class="slide slide4">
                                <div class="message">掃除機掛け</div>
                            </li>
                            <li class="slide slide5">
                                <div class="message">前処理剤の噴霧</div>
                            </li>
                            <li class="slide slide6">
                                <div class="message">白ブラシでの洗浄</div>
                            </li>
                            <li class="slide slide7">
                                <div class="message">洗浄後の汚水回収</div>
                            </li>
                            <li class="slide slide8">
                                <div class="message">ヤーンパット</div>
                            </li>
                            <li class="slide slide9">
                                <div class="message">ヤーンパットによる汚れ回収</div>
                            </li>
                            <li class="slide slide10">
                                <div class="message">カーペットの目立て</div>
                            </li>
                            <li class="slide slide11">
                                <div class="message">回収汚水</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
