        <% provide(:title, 'カーペット清掃 | メリエックス株式会社') %>

        <main class="container service carpet">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>カーペット清掃</h2>
                        <ul class="slider hidden">
                            <li class="slide slide1"></li>
                            <li class="slide slide2"></li>
                            <li class="slide slide3"></li>
                            <li class="slide slide4"></li>
                        </ul>
                    </div>
                    <dl class="works">
                        <dt>カ－ペット洗浄（スチ－ム方式）</dt>
                        <dd>
                            <dl>
                                <dt>特徴</dt>
                                <dd>高温・高圧の蒸気で洗浄します。</dd>
                                <dt>長所</dt>
                                <dd>使用洗剤は帯電防止効果と微生物を殺菌したり、防汚効果にすぐれており衛生的な床を保ちます。</dd>
                                <dt>使用機材</dt>
                                <dd>ドライバキュ－ム・ポリシャ－（メタルブラシ使用）・スチ－ム洗浄機（エクストラクタ－）・起毛ブラシ</dd>
                            </dl>
                        </dd>
                        <dt>カ－ペットドライクリ－ニング（セミドライ方式）</dt>
                        <dd>
                            <dl>
                                <dt>特徴</dt>
                                <dd>綿や合成繊維で出来ているパットをポリシャ－に装着させ、バフする事によって汚れを取る方法です。</dd>
                                <dt>長所</dt>
                                <dd>微生物を殺菌し、汚れが分解しやすく衛生的な床を保ちます。又、作業時間が短く価格が抑えられます。</dd>
                                <dt>使用機材</dt>
                                <dd>ドライバキュ－ム・ポリシャ－（ミラクルパット使用）・起毛ブラシ</dd>
                            </dl>
                        </dd>
                        <dt>クリスタルプロ・ドライシステム</dt>
                        <dd>
                            <dl>
                                <dt>特徴</dt>
                                <dd>環境に配慮した作業です。（汚水を残さず、洗浄後の湿気はありません。）</dd>
                                <dt>長所</dt>
                                <dd>薬剤の力により、汚れを結晶化し、ガンコな汚れを包み込み固めます。</dd>
                                <dt>使用機材</dt>
                                <dd>ドライバキュ－ム・ポリシャ－（ミラクルパット使用）・乾燥して再度ドライバキュ－ム・起毛ブラシ</dd>
                            </dl>
                        </dd>
                    </dl>
                    <div class="prices">
                        <h3>料金表</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <th></th><th>スチーム方式</th><th>セミドライ方式</th>
                                </tr>
                                <tr>
                                    <td>〜125㎡</td><td>28,000円</td><td>22,000円</td>
                                </tr>
                                <tr>
                                    <td>126〜330㎡</td><td>300円/㎡</td><td>220円/㎡</td>
                                </tr>
                                <tr>
                                    <td>331㎡〜</td><td>250円/㎡</td><td>180円/㎡</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="images">
                        <h3>作業手順</h3>
                        <ul class="slider works hidden">
                            <li class="slide slide1">
                                <div class="message">作業手順</div>
                            </li>
                            <li class="slide slide2">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide3">
                                <div class="message">備品の片付け</div>
                            </li>
                            <li class="slide slide4">
                                <div class="message">掃除機掛け</div>
                            </li>
                            <li class="slide slide5">
                                <div class="message">前処理剤の噴霧</div>
                            </li>
                            <li class="slide slide6">
                                <div class="message">白ブラシでの洗浄</div>
                            </li>
                            <li class="slide slide7">
                                <div class="message">洗浄後の汚水回収</div>
                            </li>
                            <li class="slide slide8">
                                <div class="message">ヤーンパット</div>
                            </li>
                            <li class="slide slide9">
                                <div class="message">ヤーンパットによる汚れ回収</div>
                            </li>
                            <li class="slide slide10">
                                <div class="message">カーペットの目立て</div>
                            </li>
                            <li class="slide slide11">
                                <div class="message">回収汚水</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
