        <% provide(:title, 'オフィス清掃 ワックス清掃 ビル・マンション清掃 メリエックス株式会社') %>

        <main class="container index">
            <ul class="slider hidden">
                <li class="slide office">
                    <div class="message">
                        <h3 class="title">オフィス清掃</h3>
                    </div>
                </li>
                <li class="slide apartment">
                    <div class="message">
                        <h3 class="title">ビル・マンション清掃</h3>
                    </div>
                </li>
                <li class="slide clinic">
                    <div class="message">
                        <h3 class="title">クリニック・介護施設清掃</h3>
                    </div>
                </li>
                <li class="slide house">
                    <div class="message">
                        <h3 class="title">ハウスクリーニング</h3>
                    </div>
                </li>
            </ul>
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <ul class="services">
                        <li class="service">
                            <a href="/office.html">
                                <div class="card office">
                                    <div class="card__title">
                                        <h3 class="card__title-text">オフィス清掃</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>日常清掃、トイレ</li>
                                            <li>掃除機掛け等</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="service">
                            <a href="/wax.html">
                                <div class="card wax">
                                    <div class="card__title">
                                        <h3 class="card__title-text">ワックス清掃</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>床面洗浄</li>
                                            <li>ワックス塗布</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="service">
                            <a href="/carpet.html">
                                <div class="card carpet">
                                    <div class="card__title">
                                        <h3 class="card__title-text">カーペット清掃</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>オフィス・店舗</li>
                                            <li>家庭の清掃</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="service">
                            <a href="/house.html">
                                <div class="card house">
                                    <div class="card__title">
                                        <h3 class="card__title-text">ハウスクリーニング</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>お得なセットプラン・レンジフード等</li>
                                            <li>アパート等の清掃</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="service">
                            <a href="/aircon.html">
                                <div class="card air-conditioner">
                                    <div class="card__title">
                                        <h3 class="card__title-text">エアコン清掃</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>業界初のドライ清掃</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="service">
                            <a href="/apaman.html">
                                <div class="card apartment">
                                    <div class="card__title">
                                        <h3 class="card__title-text">アパート・マンション清掃</h3>
                                    </div>
                                    <div class="card__supporting-text">
                                        <ul>
                                            <li>月2回からの日常清掃・定期清掃</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
