        <% provide(:title, 'オフィス清掃 | メリエックス株式会社') %>

        <main class="container service office">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>オフィス清掃</h2>
                        <ul class="slider hidden">
                            <li class="slide slide1"></li>
                            <li class="slide slide2"></li>
                            <li class="slide slide3"></li>
                        </ul>
                    </div>
                    <dl class="works">
                        <div>
                            <div>東京都を中心に、清潔感あるオフィス空間作りのお手伝いをいたします。</div>
                            <div>クリニック、介護施設の清掃も経験豊富です。</div>
                            <div>日常清掃からスポット清掃まで、作業内容や料金などお気軽に<a href="/contacts">お問合せ</a>ください。</div>
                        </div>
                        <section>
                            <h1>日常清掃</h1>
                            <dl class="description">
                                <dt>キレイなオフィスを維持！</dt>
                                <dd>弊社清掃スタッフがお客様のオフィスにお伺いし清掃サービスをご提供します。お客様社員の負担を無くし、清掃の行き届いたキレイなオフィスを維持します。</dd>
                                <dt>ご相談下さい！</dt>
                                <dd>清掃メニューから、ご希望のサービスをお選び頂けます。「トイレやモップ掛けなど気になるところだけ」「汚れがちなこの部分を重点的に」などご要望をお伺いさせて頂きます。</dd>
                                <dd>頻度は週1回から、作業時間は早朝・夜間を含む営業時間外などご要望をお伺いさせて頂きます。</dd>
                            </dl>
                            <h2>清掃メニュー</h2>
                            <dl class="menu">
                                <dt>トイレ清掃</dt>
                                <dd>便器の除菌洗浄、金属部分の除菌清拭、床の衛生管理・手洗いシンク・鏡　等</dd>
                                <dt>床面清掃</dt>
                                <dd>掃除機掛け、ハードフロアの水モップ掛け</dd>
                                <dt>テーブル清掃</dt>
                                <dd>応接室・会議室等のテーブルの除菌清掃</dd>
                                <dt>ダスティング</dt>
                                <dd>オフィス内のホコリ取りを致します</dd>
                                <dt>ゴミ処理</dt>
                                <dd>机の横のゴミ箱などを回収し、ゴミ置き場まで運びます</dd>
                            </dl>
                        </section>
                        <section>
                            <h1>定期清掃</h1>
                            <dl class="description">
                                <dt>除去が難しい頑固な汚れをリセット！</dt>
                                <dd>
                                    <div>フロアーの床を定期的に専用機材で洗浄いたします。</div>
                                    <div>ハードフロアはワックス仕上げでピカピカに。カーペットはスチーム洗浄で気になる染みや汚れを除去します。</div>
                                </dd>
                            </dl>
                            <h2>清掃メニュー</h2>
                            <dl class="menu">
                                <dt><a href="/wax">ワックス清掃</a></dt>
                                <dd>
                                    <dl>
                                        <dt>洗浄ワックス</dt>
                                        <dd>床の汚れをポリッシャーを使用して除去し、仕上げにワックスを２回以上塗布します</dd>
                                        <dt>剥離清掃</dt>
                                        <dd>頑固な汚れやワックス被膜全体を除去し、新しくワックスを２回以上塗布します</dd>
                                    </dl>
                                </dd>
                                <dt><a href="carpet">カーペット清掃</a></dt>
                                <dd>
                                    <dl>
                                        <dt>スチ－ム方式</dt>
                                        <dd>高温・高圧の蒸気で洗浄します</dd>
                                        <dt>セミドライ方式</dt>
                                        <dd>パットをポリシャ－に装着させ、バフする事によって汚れを取ります</dd>
                                    </dl>
                                </dd>
                            </dl>
                        </section>
                        <section>
                            <h1>スポット清掃</h1>
                            <dl class="description">
                                <dt>エアコンの分解洗浄で清涼感あるオフィス空間を！</dt>
                                <dd>
                                    <div>
                                        普段はなかなかできないエアコンとガラスの清掃。
                                        エアコン内部には外見からはわからない埃やカビが発症しています。
                                        これらの汚れは分解洗浄でないと除去できません。
                                    </div>
                                    <div>
                                        分解洗浄後はエアコンの風量・空気の清涼感が全く違いますよ。
                                        また熱交換効率が高まるため電気代の節約にも繋がります。
                                    </div>
                                    <div>エアコン清掃、ガラス清掃、是非一度お試しください。</div>
                                </dd>
                            </dl>
                            <h2>清掃メニュー</h2>
                            <dl class="menu">
                                <dt><a href="aircon">エアコン清掃</a></dt>
                                <dd>
                                    <dl>
                                        <dt>分解洗浄</dt>
                                        <dd>
                                            <div>エアコンを分解して内部の熱交換機やファンまで洗浄いたします</div>
                                            <div>洗浄後は風量も空気の清涼感も大幅に改善します</div>
                                        </dd>
                                        <dt>フィルター清掃</dt>
                                        <dd>フィルターのみの清掃も承ります</dd>
                                    </dl>
                                </dd>
                                <dt>ガラス清掃</dt>
                                <dd>
                                    <dl>
                                        <dt>通常清掃</dt>
                                        <dd>オフィス内の窓やガラス部分をスクレイパー等を使用して清掃いたします</dd>
                                        <dt>高所清掃</dt>
                                        <dd>通常清掃では実施できない外壁側や高所部分をブランコ等を使用して清掃いたします</dd>
                                    </dl>
                                </dd>
                            </dl>
                        </section>
                    </dl>
                    <div class="prices">
                        <h3>料金表</h3>
                        <div class="message">
                            <p>ご希望内容により<a href="/contacts">お見積り</a>させて頂きます。(下記料金は標準金額となります)</p>
                        </div>
                        <ul>
                            <li>
                                <table>
                                    <caption>日常清掃</caption>
                                    <tbody>
                                        <tr>
                                            <th>サービス</th><th>料金（税別）</th>
                                        </tr>
                                        <tr>
                                            <td>週1回</td><td>12,000円より</td>
                                        </tr>
                                        <tr>
                                            <td>週2回</td><td>22,000円より</td>
                                        </tr>
                                        <tr>
                                            <td>週3回</td><td>32,000円より</td>
                                        </tr>
                                        <tr>
                                            <td>週5回</td><td>48,000円より</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <caption>定期清掃</caption>
                                    <tbody>
                                        <tr>
                                            <th rowspan="2"></th><th colspan="2">床ワックス清掃</th><th colspan="2">カーペット清掃</th>
                                        </tr>
                                        <tr>
                                            <th>洗浄ワックス</th><th>剥離清掃</th><th>スチーム方式</th><th>セミドライ方式</th>
                                        </tr>
                                        <tr>
                                            <td>〜100㎡</td><td>21,000円</td><td>35,000円</td><td>28,000円</td><td>22,000円</td>
                                        </tr>
                                        <tr>
                                            <td>101〜330㎡</td><td>200円/㎡</td><td>300円/㎡</td><td>300円/㎡</td><td>220円/㎡</td>
                                        </tr>
                                        <tr>
                                            <td>331㎡〜</td><td>180円/㎡</td><td>280円/㎡</td><td>250円/㎡</td><td>180円/㎡</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <dl>
                                    <dt style="padding-left: 0.3rem">高所ガラス清掃</dt>
                                    <dd>
                                        <div>300円/㎡より　（要 御見積り）</div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="images">
                        <h3>作業前・作業後</h3>
                        <ul class="slider hidden">
                            <li class="slide slide1">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide2">
                                <div class="message">作業後</div>
                            </li>
                            <li class="slide slide3">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide4">
                                <div class="message">作業後</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
