        <% provide(:title, 'オフィス清掃 | メリエックス株式会社') %>
        <% content_for :canonical do %>
          <link rel="canonical" href="<%= url_for(only_path: false) %>" >
        <% end %>

        <main class="container service office">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>オフィス清掃</h2>
                        <ul class="slider hidden">
                            <li class="slide slide1"></li>
                            <li class="slide slide2"></li>
                            <li class="slide slide3"></li>
                        </ul>
                        <div class="message">
                            <p>日常清掃(週１回～週５回程度)・定期清掃（月1回～年６・４・３回）</p>
                            <p>社員の方の負担を無くし、我々がお手伝いします。</p>
                        </div>
                    </div>
                    <dl class="works">
                        <dt>トイレ清掃</dt>
                        <dd>便器の除菌洗浄、金属部分の除菌清拭、床の衛生管理・手洗いシンク・鏡　等</dd>
                        <dt>床面清掃</dt>
                        <dd>掃除機掛け・ハードフロアの水モップ掛け</dd>
                        <dt>テーブル清掃</dt>
                        <dd>応接室・会議室等のテーブルの除菌清掃</dd>
                        <dt>ダスティング</dt>
                        <dd>オフィス内のホコリ取りを致します</dd>
                        <dt>ゴミ処理</dt>
                        <dd>机の横のゴミ箱などを回収し、ゴミ置き場まで運びます</dd>
                    </dl>
                    <div class="prices">
                        <h3>料金表</h3>
                        <div class="message">
                            <p>見積りさせて頂きます。</p>
                            <p>下記料金は標準金額となります。</p>
                        </div>
                        <ul>
                            <li>
                                <table>
                                    <caption><p>日常清掃</p>（そうじ機掛け・トイレ・マンション等）</caption>
                                    <tbody>
                                        <tr>
                                            <th>サービス</th><th>料金（税別）</th>
                                        </tr>
                                        <tr>
                                            <td>週1回</td><td>12,000円より（ご希望内容により見積り）</td>
                                        </tr>
                                        <tr>
                                            <td>週2回</td><td>22,000円より（ご希望内容により見積り）</td>
                                        </tr>
                                        <tr>
                                            <td>週3回</td><td>32,000円より（ご希望内容により見積り）</td>
                                        </tr>
                                        <tr>
                                            <td>週5回</td><td>48,000円より（ご希望内容により見積り）</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <caption>定期清掃</caption>
                                    <tbody>
                                        <tr>
                                            <th rowspan="2"></th><th colspan="2">床ワックス清掃</th><th colspan="2">カーペット清掃</th>
                                        </tr>
                                        <tr>
                                            <th>洗浄ワックス</th><th>剥離清掃</th><th>スチーム方式</th><th>セミドライ方式</th>
                                        </tr>
                                        <tr>
                                            <td>〜100㎡</td><td>21,000円</td><td>35,000円</td><td>28,000円</td><td>22,000円</td>
                                        </tr>
                                        <tr>
                                            <td>101〜330㎡</td><td>200円/㎡</td><td>300円/㎡</td><td>300円/㎡</td><td>220円/㎡</td>
                                        </tr>
                                        <tr>
                                            <td>331㎡〜</td><td>180円/㎡</td><td>280円/㎡</td><td>250円/㎡</td><td>180円/㎡</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <dl>
                                    <dt>高所ガラス清掃</dt>
                                    <dd>
                                        <div>㎡当たり　300円より　（要 御見積り）</div>
                                        <ul>
                                            <li>ブラインド清掃もお受け賜ります！！</li>
                                            <li>高所ガラス清掃もお受け賜ります。</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="images">
                        <h3>作業前・作業後</h3>
                        <ul class="slider hidden">
                            <li class="slide slide1">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide2">
                                <div class="message">作業後</div>
                            </li>
                            <li class="slide slide3">
                                <div class="message">作業前</div>
                            </li>
                            <li class="slide slide4">
                                <div class="message">作業後</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
