        <% provide(:title, '個人情報保護について | メリエックス株式会社') %>

        <main class="container privacy">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>個人情報保護について</h2>
                    </div>
                    <ol>
                        <li>
                            <dl>
                                <dt>個人情報の定義</dt>
                                <dd>当サイトをご利用頂く、お客様のご住所・お名前・ご年齢・電話番号・メールアドレス・生年月日・性別等の個人を特定しうる情報を指します。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>個人情報の利用目的の範囲</dt>
                                <dd>
                                    <p>当サイトをご利用頂く、お客様に対して提供する為の手段としてのみ使用させていただいております。</p>
                                    <p>上記利用目的の範囲を超えて、個人情報を取り扱うことは一切ありません。</p>
                                    <p>但し、以下の場合はこの限りではありません。</p>
                                    <ol>
                                        <li>法令に基づく場合</li>
                                        <li>お客様及び公衆の生命、健康、財産などに重大な損害が発生することを防止するために必要な場合</li>
                                    </ol>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>個人情報の取得手段と取得する際の利用目的の通知・公表</dt>
                                <dd>当サイトをを通してお客様の個人情報を取得する際は、お客様に取得の旨とその利用目的の通知・公表致しております。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>情報データの開示</dt>
                                <dd>当サイトをの保有する個人情報をお客様自身から開示要求があった場合は、速やかに情報を開示致しております 。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>情報データ内容の正確性の確保</dt>
                                <dd>当サイトをの保有する個人情報の内容が事実と異なる場合には、訂正と削除を行います。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>安全管理、従業者・委託先の監督</dt>
                                <dd>当サイトをの保有する個人情報が漏洩しない様対策を立て、従業員及び委託業者に対して適切な監督を行います。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>第三者提供の制限</dt>
                                <dd>
                                    <p>当サイトをの保有する個人情報はお客様本人の同意を得ずには第三者に提供することはございません。</p>
                                    <p>但し、以下の場合は上記の限りではありません。</p>
                                    <ol>
                                        <li>法令に基づく場合</li>
                                        <li>委託の場合、合併等の場合、特定の者との共同利用の場合（共同利用する旨その他一定の事項を通知等している場合）</li>
                                    </ol>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>個人情報の取り扱いに関する苦情</dt>
                                <dd>当サイトをの保有する個人情報に関して、お客様から苦情があった場合は、適切かつ迅速に対処致します。</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>個人情報の使用期間</dt>
                                <dd>当サイトをの保有する個人情報を使用する期間は、原則的にサービスの終了時までとします。</dd>
                            </dl>
                        </li>
                    </ol>
                </div>
            </div>
        </main>
