footer {
    padding: 0.5rem 0;
    background-color: $color-lightgrey;
    .footers {
        display: flex;
        flex-wrap: wrap;
        .footer {
            h4 {
                margin: 0.5rem 0;
            }
            ul {
                padding-left: 0.5rem;
                .link {
                    padding: 0.1rem 0;
                    a {
                        color: $color-black;
                    }
                }
            }
        }
        .footer.corporation {
            > div {
                display: flex;
            }
        }
    }
    .copyright {
        margin: 0.5rem 0 1rem;
        color: $color-black;
        text-align: center;
    }
    #map {
        margin-left: 1rem;
        height: 200px;
        width: 320px;
    }
}
