main.apaman {
    .works {
        ul {
            margin-left: 1.5rem;
            list-style: disc;
        }
    }
    .images {
        .slider {
            .slide.slide1 {
                background: url(/img/services/apaman/images/1.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/services/apaman/images/2.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/services/apaman/images/3.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/services/apaman/images/4.jpg) center / contain no-repeat;
            }
            .slide.slide5 {
                background: url(/img/services/apaman/images/5.jpg) center / contain no-repeat;
            }
            .slide.slide6 {
                background: url(/img/services/apaman/images/6.jpg) center / contain no-repeat;
            }
            .slide.slide7 {
                background: url(/img/services/apaman/images/7.jpg) center / contain no-repeat;
            }
            .slide.slide8 {
                background: url(/img/services/apaman/images/8.jpg) center / contain no-repeat;
            }
            .slide.slide9 {
                background: url(/img/services/apaman/images/9.jpg) center / contain no-repeat;
            }
            .slide.slide10 {
                background: url(/img/services/apaman/images/10.jpg) center / contain no-repeat;
            }
        }
    }
}
