main.contacts {
    ol.breadcrumbs {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            list-style: none;
            font-size: 0.9rem;
            color: $color-gray;
            a {
                span {
                    font-size: 0.9rem;
                    color: $color-gray;
                }
            }
        }
        li:not(:last-child):after {
            content: '>';
            margin: 0 0.5em;
        }
    }
    .errors {
        margin: 1em 0;
        padding: 0.5em 0;
        border: 0.1rem solid $color-red;
        border-radius: 5px;
        ul {
            margin-left: 1em;
            li {
                list-style: none;
            }
        }
    }
    form {
        margin: 1rem auto;
        .field {
            display: flex;
            align-items: center;
            margin: 1em 0;
            > .label {
                width: 30%;
            }
            > .input {
                width: 65%;
            }
            > .confirm {
                width: 65%;
            }
            ul.categories {
                li {
                    margin-left: 1em;
                    list-style: none;
                }
            }
            .field_with_errors {
                width: auto;
            }
        }
        .actions {
            margin: 1rem auto;
            text-align: center;
            .confirm {
              background-color: $color-blue;
              color: $color-white;
            }
            .submit {
              background-color: $color-red;
              color: $color-white;
            }
        }
    }
}
