@charset 'utf-8';

.main {
    .message {
        margin: 1.5rem 0;
    }
    .inquiry {
        width: 95%;
        margin: 1rem auto;
        > ul {
            > li {
                display: flex;
                &.row {
                    padding-bottom: 0.5rem;
                }
                .label {
                    width: 40%;
                    label {
                        border-left: 0.3rem solid $color-green;
                        padding-left: 0.2rem;
                    }
                }
                .types {
                    width: 60%;
                    .type {
                        float: left;
                        margin-right: 1rem;
                    }
                }
                .input {
                    width: 60%;
                }
            }
        }
    }
}
