main.privacy {
    h2 {
        border-bottom: 0.1rem solid $color-green;
    }
    ol {
        margin-top: 1rem;
        padding-left: 2rem;
        dl {
            dt {
                font-weight: bold;
            }
            dd {
                margin-left: 0;
                p {
                    margin: 0;
                }
            }
        }
    }
}
