/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

* {
  min-height: 0;
  min-width: 0; }

h1 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: normal;
  text-align: right; }

h2 {
  font-size: 1.2rem;
  font-weight: normal;
  border-left: 0.5rem solid #006600;
  margin: 0.5rem 0;
  padding-left: 0.3rem; }

h3, h4 {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: underline; }

ul {
  margin: 0;
  padding: 0; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.5rem; }

.hidden {
  visibility: hidden; }

.header {
  padding: 0.5rem;
  background: linear-gradient(#000080, #0000cd);
  color: #ffffff; }
  .header .contents {
    display: flex;
    flex-wrap: wrap; }
    .header .contents .logo {
      flex: 1; }
      .header .contents .logo a {
        color: #ffffff; }
      .header .contents .logo .en_US {
        font-size: 1.2rem; }
      .header .contents .logo .ja_JP {
        font-size: 1.4rem;
        font-weight: bold; }
    .header .contents .inquiry {
      margin: 0.5rem 0.2rem 0 0;
      padding: 0.5rem;
      border: 1px solid #808080;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      text-align: center;
      display: flex;
      flex-direction: column; }
      .header .contents .inquiry p {
        margin: 0.2rem 0; }
      .header .contents .inquiry ul {
        list-style: none;
        margin: 0 auto; }
        .header .contents .inquiry ul li {
          text-align: left; }
      .header .contents .inquiry a {
        font-size: 1rem;
        font-weight: bold;
        color: #ffff00; }

.contents .side {
  flex-shrink: 0;
  margin-right: 1rem; }
  .contents .side a {
    color: #000000; }
  .contents .side .title {
    border-left: 0.5rem solid #006600;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem; }
  .contents .side .menu {
    padding: 0 0.5rem 0.5rem 0.2rem; }
    .contents .side .menu .links .link {
      margin-bottom: 0.2rem; }
      .contents .side .menu .links .link a {
        padding: 0 0.5rem; }
  .contents .side .partner {
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    border-top: 1px dotted #808080;
    border-bottom: 1px dotted #808080;
    font-size: 0.8rem; }
  .contents .side address {
    font-size: 0.8rem;
    font-style: normal; }
    .contents .side address p {
      margin: 0; }
    .contents .side address .logo {
      font-size: 1rem;
      font-weight: bold; }

footer {
  padding: 0.5rem 0;
  background-color: #d3d3d3; }
  footer .footers {
    display: flex;
    flex-wrap: wrap; }
    footer .footers .footer h4 {
      margin: 0.5rem 0; }
    footer .footers .footer ul {
      padding-left: 0.5rem; }
      footer .footers .footer ul .link {
        padding: 0.1rem 0; }
        footer .footers .footer ul .link a {
          color: #000000; }
    footer .footers .footer.corporation > div {
      display: flex; }
  footer .copyright {
    margin: 0.5rem 0 1rem;
    color: #000000;
    text-align: center; }
  footer #map {
    margin-left: 1rem;
    height: 200px;
    width: 320px; }

.slider {
  margin: 0 0 28px;
  padding: 0; }
  .slider .slide {
    height: 250px;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .slider .slide .message {
      height: 3rem;
      padding: 0.3rem;
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff; }
      .slider .slide .message .title {
        font-weight: normal;
        margin: 0; }

.images .slider {
  padding: 0 1.5rem; }

.slick-prev:before, .slick-next:before {
  color: #0000cd; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-dots {
  right: 0; }

input[type=text], textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: solid 1px #808080;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

textarea {
  height: 10em; }

input[type=checkbox] {
  margin-right: 0.3em; }

input[type=submit] {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1rem;
  cursor: pointer; }

input.error, textarea.error {
  border: 0.1rem solid #ff0000; }

.required {
  margin-left: 0.5rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #ff0000;
  color: #ffffff; }

.errors .message {
  color: #ff0000;
  margin: 0.5rem;
  font-weight: bold; }

.error {
  color: #ff0000; }

.field_with_errors input, .field_with_errors textarea {
  border-color: #ff0000; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: hidden;
  z-index: 1;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .card__title {
    display: flex;
    align-items: center;
    justify-content: stretch; }
    .card__title-text {
      display: flex;
      align-self: flex-start;
      margin: 0; }

.contents {
  display: flex; }
  .contents .main {
    flex: 1 1 0;
    width: 100%;
    padding-bottom: 2rem; }

main.index .slider .slide.office {
  background: url(/img/slider/office.jpg) center/cover; }

main.index .slider .slide.apartment {
  background: url(/img/slider/apartment.jpg) center/cover; }

main.index .slider .slide.clinic {
  background: url(/img/slider/clinic.jpg) center/cover; }

main.index .slider .slide.house {
  background: url(/img/slider/house.jpg) center/cover; }

main.index .contents .main .services {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  main.index .contents .main .services .service {
    padding: 0.2rem; }
    main.index .contents .main .services .service .card__title {
      height: 90px;
      padding: 0.3rem; }
      main.index .contents .main .services .service .card__title-text {
        background: rgba(0, 0, 0, 0.3);
        border-left: 0.3rem solid #006600;
        padding: 0.3rem 1rem;
        font-weight: normal;
        color: #ffffff; }
    main.index .contents .main .services .service .card__supporting-text ul {
      list-style: none;
      margin: 0;
      padding: 0.3rem; }
    main.index .contents .main .services .service .card.office .card__title {
      background: url(/img/office.jpg) center/cover; }
    main.index .contents .main .services .service .card.wax .card__title {
      background: url(/img/wax.jpg) center/cover; }
    main.index .contents .main .services .service .card.carpet .card__title {
      background: url(/img/carpet.jpg) center/cover; }
    main.index .contents .main .services .service .card.house .card__title {
      background: url(/img/housecleaning.jpg) center/cover; }
    main.index .contents .main .services .service .card.air-conditioner .card__title {
      background: url(/img/air-conditioner.jpg) center/cover; }
    main.index .contents .main .services .service .card.apartment .card__title {
      background: url(/img/apartment.jpg) center/cover; }
  main.index .contents .main .services a:hover {
    text-decoration: none; }

/**
 * services
 */
.service ul {
  list-style: none; }

.service .heading h2 {
  border-bottom: 0.1rem solid #006600;
  border-left: 0.5rem solid #006600;
  padding-left: 0.3rem; }

.service .heading .message p {
  margin: 0; }

.service .works dt {
  border-left: 0.3rem solid #006600;
  margin-left: 0.5rem;
  padding-left: 0.1rem; }

.service .works dd {
  margin-left: 1rem; }

.service .prices h3 {
  border-bottom: 0.1rem solid #ffa500;
  border-left: 0.5rem solid #ffa500;
  padding-left: 0.3rem; }

.service .prices .message p {
  margin: 0; }

.service .prices table {
  border: solid 1px #808080;
  border-collapse: collapse;
  margin-bottom: 1rem; }
  .service .prices table caption {
    text-align: left;
    border-left: 0.3rem solid #ffa500;
    margin: 0.1rem 0 0.5rem 0.5rem;
    padding-left: 0.1rem; }
    .service .prices table caption p {
      margin: 0; }
  .service .prices table th, .service .prices table td {
    border: solid 1px #808080;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5rem; }
  .service .prices table th {
    background-color: #d3d3d3;
    padding: 0 auto; }

.service .prices dl dt {
  border-left: 0.3rem solid #ffa500;
  margin: 0.1rem 0 0.5rem 0.5rem;
  padding: 0.1rem; }

.service .prices dl dd ul {
  list-style: disc; }

.service .images h3 {
  border-bottom: 0.1rem solid #0000cd;
  border-left: 0.5rem solid #0000cd;
  padding-left: 0.3rem;
  margin-bottom: 0.5rem; }

.service .images .slider .slide .message {
  height: 2rem;
  margin: 0;
  padding: 0.2rem 0 0.2rem 1rem; }

main.office .heading .slider .slide.slide1 {
  background: url(/img/services/office/heading/1.jpg) center/cover; }

main.office .heading .slider .slide.slide2 {
  background: url(/img/services/office/heading/2.jpg) center/cover; }

main.office .heading .slider .slide.slide3 {
  background: url(/img/services/office/heading/3.jpg) center/cover; }

main.office .images .slider .slide.slide1 {
  background: url(/img/pic_office8.jpg) center/contain no-repeat; }

main.office .images .slider .slide.slide2 {
  background: url(/img/pic_office9.jpg) center/contain no-repeat; }

main.office .images .slider .slide.slide3 {
  background: url(/img/pic_office10.jpg) center/contain no-repeat; }

main.office .images .slider .slide.slide4 {
  background: url(/img/pic_office11.jpg) center/contain no-repeat; }

main.wax .message p {
  margin: 0; }

main.wax .heading .slide {
  height: 250px; }

main.wax .heading .slide.slide1 {
  background-color: red;
  background: url(/img/services/wax/heading/1.jpg) center/cover; }

main.wax .images .slider.works .slide.slide1 {
  background: url(/img/wax01.jpg) center/contain no-repeat; }

main.wax .images .slider.works .slide.slide2 {
  background: url(/img/wax02.jpg) center/contain no-repeat; }

main.wax .images .slider.works .slide.slide3 {
  background: url(/img/wax03.jpg) center/contain no-repeat; }

main.wax .images .slider.works .slide.slide4 {
  background: url(/img/wax04.jpg) center/contain no-repeat; }

main.wax .images .slider.works .slide.slide5 {
  background: url(/img/wax05.jpg) center/contain no-repeat; }

main.wax .images .slider.works .slide.slide6 {
  background: url(/img/wax06.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide1 {
  background: url(/img/wax07.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide2 {
  background: url(/img/wax08.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide3 {
  background: url(/img/wax09.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide4 {
  background: url(/img/wax10.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide5 {
  background: url(/img/wax11.jpg) center/contain no-repeat; }

main.wax .images .slider.beforeafter .slide.slide6 {
  background: url(/img/wax12.jpg) center/contain no-repeat; }

main.carpet .heading .slider .slide.slide1 {
  background: url(/img/services/carpet/heading/1.jpg) center/cover; }

main.carpet .heading .slider .slide.slide2 {
  background: url(/img/services/carpet/heading/2.jpg) center/cover; }

main.carpet .heading .slider .slide.slide3 {
  background: url(/img/services/carpet/heading/3.jpg) center/cover; }

main.carpet .heading .slider .slide.slide4 {
  background: url(/img/services/carpet/heading/4.jpg) center/cover; }

main.carpet .images .slider .slide.slide1 {
  background: url(/img/carpet_flow.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide2 {
  background: url(/img/carpet01.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide3 {
  background: url(/img/carpet02.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide4 {
  background: url(/img/carpet03.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide5 {
  background: url(/img/carpet04.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide6 {
  background: url(/img/carpet05.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide7 {
  background: url(/img/carpet06.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide8 {
  background: url(/img/carpet07.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide9 {
  background: url(/img/carpet08.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide10 {
  background: url(/img/carpet09.jpg) center/contain no-repeat; }

main.carpet .images .slider .slide.slide11 {
  background: url(/img/carpet10.jpg) center/contain no-repeat; }

main.house .heading .slider .slide.slide1 {
  background: url(/img/services/house/heading/1.jpg) center/cover; }

main.house .heading .slider .slide.slide2 {
  background: url(/img/services/house/heading/2.jpg) center/cover; }

main.house .heading .slider .slide.slide3 {
  background: url(/img/services/house/heading/3.jpg) center/cover; }

main.house .heading .slider .slide.slide4 {
  background: url(/img/services/house/heading/4.jpg) center/cover; }

main.house .heading .slider .slide.slide5 {
  background: url(/img/services/house/heading/5.jpg) center/cover; }

main.house .heading .slider .slide.slide6 {
  background: url(/img/services/house/heading/6.jpg) center/cover; }

main.house .images .slider .slide.slide1 {
  background: url(/img/services/house/images/1.jpg) center/contain no-repeat; }

main.house .images .slider .slide.slide2 {
  background: url(/img/services/house/images/2.jpg) center/contain no-repeat; }

main.house .images .slider .slide.slide3 {
  background: url(/img/services/house/images/3.jpg) center/contain no-repeat; }

main.house .images .slider .slide.slide4 {
  background: url(/img/services/house/images/4.jpg) center/contain no-repeat; }

main.house .images .slider .slide.slide5 {
  background: url(/img/services/house/images/5.jpg) center/contain no-repeat; }

main.house .images .slider .slide.slide6 {
  background: url(/img/services/house/images/6.jpg) center/contain no-repeat; }

main.aircon .works p {
  margin: 0; }

main.aircon .works strong {
  line-height: 2.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #ff0000; }

main.aircon .images .slider.business .slide.slide1 {
  background: url(/img/services/aircon/business/1.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide2 {
  background: url(/img/services/aircon/business/2.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide3 {
  background: url(/img/services/aircon/business/3.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide4 {
  background: url(/img/services/aircon/business/4.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide5 {
  background: url(/img/services/aircon/business/5.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide6 {
  background: url(/img/services/aircon/business/6.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide7 {
  background: url(/img/services/aircon/business/7.jpg) center/contain no-repeat; }

main.aircon .images .slider.business .slide.slide8 {
  background: url(/img/services/aircon/business/8.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide1 {
  background: url(/img/services/aircon/consumer/1.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide2 {
  background: url(/img/services/aircon/consumer/2.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide3 {
  background: url(/img/services/aircon/consumer/3.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide4 {
  background: url(/img/services/aircon/consumer/4.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide5 {
  background: url(/img/services/aircon/consumer/5.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide6 {
  background: url(/img/services/aircon/consumer/6.jpg) center/contain no-repeat; }

main.aircon .images .slider.consumer .slide.slide7 {
  background: url(/img/services/aircon/consumer/7.jpg) center/contain no-repeat; }

main.aircon .images .slider.beforeafter .slide.slide1 {
  background: url(/img/services/aircon/beforeafter/1.jpg) center/contain no-repeat; }

main.aircon .images .slider.beforeafter .slide.slide2 {
  background: url(/img/services/aircon/beforeafter/2.jpg) center/contain no-repeat; }

main.aircon .images .slider.beforeafter .slide.slide3 {
  background: url(/img/services/aircon/beforeafter/3.jpg) center/contain no-repeat; }

main.aircon .images .slider.beforeafter .slide.slide4 {
  background: url(/img/services/aircon/beforeafter/4.jpg) center/contain no-repeat; }

main.apaman .works ul {
  margin-left: 1.5rem;
  list-style: disc; }

main.apaman .images .slider .slide.slide1 {
  background: url(/img/services/apaman/images/1.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide2 {
  background: url(/img/services/apaman/images/2.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide3 {
  background: url(/img/services/apaman/images/3.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide4 {
  background: url(/img/services/apaman/images/4.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide5 {
  background: url(/img/services/apaman/images/5.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide6 {
  background: url(/img/services/apaman/images/6.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide7 {
  background: url(/img/services/apaman/images/7.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide8 {
  background: url(/img/services/apaman/images/8.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide9 {
  background: url(/img/services/apaman/images/9.jpg) center/contain no-repeat; }

main.apaman .images .slider .slide.slide10 {
  background: url(/img/services/apaman/images/10.jpg) center/contain no-repeat; }

/**
 * static
 */
main.privacy h2 {
  border-bottom: 0.1rem solid #006600; }

main.privacy ol {
  margin-top: 1rem;
  padding-left: 2rem; }
  main.privacy ol dl dt {
    font-weight: bold; }
  main.privacy ol dl dd {
    margin-left: 0; }
    main.privacy ol dl dd p {
      margin: 0; }

main.corp h2 {
  border-left: 0.5rem solid #0000cd;
  border-bottom: 0.1rem solid #0000cd; }

main.corp .philosophy h3 {
  font-size: 1.2rem;
  text-align: center; }

main.corp .philosophy .message p {
  margin: 0; }

main.corp table {
  border: solid 1px #808080;
  border-collapse: collapse;
  margin-bottom: 1rem; }
  main.corp table caption {
    text-align: left;
    border-left: 0.3rem solid #0000cd;
    margin: 0.1rem 0 0.5rem 0.5rem;
    padding-left: 0.1rem; }
    main.corp table caption p {
      margin: 0; }
  main.corp table th, main.corp table td {
    border: solid 1px #808080;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5rem; }
  main.corp table th {
    background-color: #d3d3d3;
    padding: 0 auto; }
  main.corp table td {
    text-align: left; }
    main.corp table td p {
      margin: 0; }
    main.corp table td ul {
      margin-left: 1rem; }

/**
 * contacts
 */
main.contacts ol.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex; }
  main.contacts ol.breadcrumbs li {
    list-style: none;
    font-size: 0.9rem;
    color: #808080; }
    main.contacts ol.breadcrumbs li a span {
      font-size: 0.9rem;
      color: #808080; }
  main.contacts ol.breadcrumbs li:not(:last-child):after {
    content: '>';
    margin: 0 0.5em; }

main.contacts .errors {
  margin: 1em 0;
  padding: 0.5em 0;
  border: 0.1rem solid #ff0000;
  border-radius: 5px; }
  main.contacts .errors ul {
    margin-left: 1em; }
    main.contacts .errors ul li {
      list-style: none; }

main.contacts form {
  margin: 1rem auto; }
  main.contacts form .field {
    display: flex;
    align-items: center;
    margin: 1em 0; }
    main.contacts form .field > .label {
      width: 30%; }
    main.contacts form .field > .input {
      width: 65%; }
    main.contacts form .field > .confirm {
      width: 65%; }
    main.contacts form .field ul.categories li {
      margin-left: 1em;
      list-style: none; }
    main.contacts form .field .field_with_errors {
      width: auto; }
  main.contacts form .actions {
    margin: 1rem auto;
    text-align: center; }
    main.contacts form .actions .confirm {
      background-color: #0000cd;
      color: #ffffff; }
    main.contacts form .actions .submit {
      background-color: #ff0000;
      color: #ffffff; }

@media screen and (max-width: 640px) {
  .header .logo {
    flex: 0 0 100%; }
  .header .inquiry {
    flex: 0 0 100%; }
  .side {
    display: none; }
  .services .service {
    flex: 0 0 100%;
    max-width: 100%; }
  footer .footer {
    padding: none; }
  footer .footer.corporation {
    margin-top: 1rem;
    margin-left: 0; } }

@media screen and (min-width: 641px) {
  .services .service {
    flex: 0 0 50%;
    max-width: 50%; }
  footer .footer {
    padding: 0 1rem 0 0; }
  footer .footer.corporation {
    margin-left: auto; } }
