main.aircon {
    .works {
        p {
            margin: 0;
        }
        strong {
            line-height: 2.5rem;
            padding: 0.5rem;
            font-size: 1.5rem;
            color: $color-red;
        }
    }
    .images {
        .slider.business {
            .slide.slide1 {
                background: url(/img/aircon01.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/aircon03.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/aircon05.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/aircon07.jpg) center / contain no-repeat;
            }
            .slide.slide5 {
                background: url(/img/aircon09.jpg) center / contain no-repeat;
            }
            .slide.slide6 {
                background: url(/img/aircon02.jpg) center / contain no-repeat;
            }
            .slide.slide7 {
                background: url(/img/aircon04.jpg) center / contain no-repeat;
            }
            .slide.slide8 {
                background: url(/img/aircon06.jpg) center / contain no-repeat;
            }
            .slide.slide9 {
                background: url(/img/aircon08.jpg) center / contain no-repeat;
            }
            .slide.slide10 {
                background: url(/img/aircon10.jpg) center / contain no-repeat;
            }
        }
        .slider.consumer {
            .slide.slide1 {
                background: url(/img/aircon15.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/aircon16.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/aircon17.jpg) center / contain no-repeat;
            }
        }
        .slider.beforeafter {
            .slide.slide1 {
                background: url(/img/aircon11.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/aircon12.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/aircon13.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/aircon14.jpg) center / contain no-repeat;
            }
        }
    }
}
