@charset 'utf-8';

.slider {
    margin: 0 0.2rem 1rem;
    .slide {
        position: relative;
        height: 300px;
        img {
            margin-top: -70px;
        }
        .message {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0.5rem;
            padding: 0.5rem;
            border: 1px solid $color-blue;
            border-radius: 0.3rem;
            background-color: $color-white;
            opacity: 0.9;
            .title {
                border-left: 0.4rem solid $color-green;
                padding-left: 0.3rem;
                font-size: 1rem;
            }
        }
    }
}

.contents {
    .main {
        .services {
            display: flex;
            flex-wrap: wrap;
            .service {
                padding: 0.2rem;
                a {
                    color: $color-black;
                }
                .img {
                    height: 70px;
                    overflow: hidden;
                    background-color: #cccccc;
                    &.office {
                        background-image: url(/img/office.jpg);
                        background-position: 50% 60%;
                    }
                    &.wax {
                        background-image: url(/img/wax.jpg);
                        background-position: 50% 50%;
                    }
                    &.air-conditioner {
                        background-image: url(/img/air-conditioner.jpg);
                        background-position: left 40%;
                    }
                    &.house {
                        background-image: url(/img/housecleaning.jpg);
                        background-position: 50% 17%;
                    }
                    &.carpet {
                        background-image: url(/img/carpet.jpg);
                        background-position: 50% 50%;
                    }
                    &.apartment {
                        background-image: url(/img/apartment.jpg);
                        background-position: 50% 60%;
                    }
                }
                .title {
                    border-left: 0.3rem solid $color-green;
                    margin-top: 0.3rem;
                    padding-left: 0.3rem;
                }
                .description {
                    font-size: 0.8rem;
                    padding-left: 0.3rem;
                }
            }
        }
    }
}
