
                <nav class="side">
                    <div class="menu">
                        <div class="title">業務内容</div>
                        <ul class="links">
                            <li class="link"><a href="/office">オフィス清掃</a></li>
                            <li class="link"><a href="/wax">ワックス清掃</a></li>
                            <li class="link"><a href="/carpet">カーペット清掃</a></li>
                            <li class="link"><a href="/house">ハウスクリーニング</a></li>
                            <li class="link"><a href="/aircon">エアコン清掃</a></li>
                            <li class="link"><a href="/apaman">アパート・マンション清掃</a></li>
                        </ul>
                    </div>
                    <div class="menu">
                        <div class="title">企業情報</div>
                        <ul class="links">
                            <li class="link"><a href="/about">会社概要</a></li>
                            <li class="link"><a href="/contacts">お問い合わせ</a></li>
                            <li class="link"><a href="/privacy">個人情報保護について</a></li>
                        </ul>
                    </div>
                    <div class="partner">
                        <p>協力会社(パートナー)様を募集！</p>
                        <p>業種:エアコン・ダクト・受水槽関係</p>
                    </div>
                </nav>
