        <% provide(:title, 'お問い合わせ | メリエックス株式会社') %>

        <main class="container contacts">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <ul class="breadcrumbs">
                        <li>お問い合わせ</li>
                        <li>完了</li>
                    </ul>
                    <div class="heading">
                        <h2>お問い合わせ</h2>
                        <div>お問い合わせを送信いたしました。</div>
                        <p>お問い合わせありがとうございます。</p>
                        <p>担当者が確認次第、折り返しご連絡させていただきますので今しばらくお待ちください。</p>
                        <p>万が一2～3日経っても連絡がない場合は、入力・記入間違い等考えられますので、再度ご連絡いただきますようお願いいたします。</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Google Code for &#12362;&#21839;&#12356;&#21512;&#12431;&#12379; Conversion Page -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1006096716;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "YsRvCPKGq3UQzKLf3wM";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1006096716/?label=YsRvCPKGq3UQzKLf3wM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

