.contents {
    .side {
        flex-shrink: 0;
        margin-right: 1rem;
        a {
            color: $color-black;
        }
        .title {
            border-left: 0.5rem solid $color-green;
            margin-bottom: 0.2rem;
            padding-left: 0.5rem;
        }
        .menu {
            padding: 0 0.5rem 0.5rem 0.2rem;
            .links {
                .link {
                    margin-bottom: 0.2rem;
                    a {
                        padding: 0 0.5rem;
                    }
                }
            }
        }
        .partner {
            margin: 1.5rem 0;
            padding: 0.5rem 0;
            border-top: 1px dotted $color-gray;
            border-bottom: 1px dotted $color-gray;
            font-size: 0.8rem;
        }
        address {
            font-size: 0.8rem;
            font-style: normal;
            p {
                margin: 0;
            }
            .logo {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}
