main.house {
    .heading {
        .slider {
            .slide.slide1 {
                background: url(/img/services/house/heading/1.jpg) center / cover;
            }
            .slide.slide2 {
                background: url(/img/services/house/heading/2.jpg) center / cover;
            }
            .slide.slide3 {
                background: url(/img/services/house/heading/3.jpg) center / cover;
            }
            .slide.slide4 {
                background: url(/img/services/house/heading/4.jpg) center / cover;
            }
            .slide.slide5 {
                background: url(/img/services/house/heading/5.jpg) center / cover;
            }
            .slide.slide6 {
                background: url(/img/services/house/heading/6.jpg) center / cover;
            }
        }
    }
    .images {
        .slider {
            .slide.slide1 {
                background: url(/img/services/house/images/1.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/services/house/images/2.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/services/house/images/3.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/services/house/images/4.jpg) center / contain no-repeat;
            }
            .slide.slide5 {
                background: url(/img/services/house/images/5.jpg) center / contain no-repeat;
            }
            .slide.slide6 {
                background: url(/img/services/house/images/6.jpg) center / contain no-repeat;
            }
        }
    }
}
