main.office {
    .heading {
        .slider {
            .slide.slide1 {
                background: url(/img/services/office/heading/1.jpg) center / cover;
            }
            .slide.slide2 {
                background: url(/img/services/office/heading/2.jpg) center / cover;
            }
            .slide.slide3 {
                background: url(/img/services/office/heading/3.jpg) center / cover;
            }
        }
    }
    .images {
        .slider {
            .slide.slide1 {
                background: url(/img/pic_office8.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/pic_office9.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/pic_office10.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/pic_office11.jpg) center / contain no-repeat;
            }
        }
    }
    .works {
        a {
            text-decoration: underline;
        }
        section {
            margin: 1rem 0;
            h1 {
                border-bottom: 0.1rem solid $color-green;
                border-left: 0.5rem solid $color-green;
                padding-left: 0.3rem;
                text-align: left;
                font-size: 1.1rem;
            }
            h2 {
                border-bottom: none;
                border-left: 0.5rem solid lighten($color-green, 10%);
                margin: 0;
                padding-left: 0.3rem;
                font-size: 1rem;
            }
            dl {
                margin: 0.5rem 0.3rem;
                dt {
                    border-left: none;
                    margin: 0.2rem 0;
                    padding-left: 0;
                }
            }
            dl.description {
                margin: 1rem 0;
                dt:before {
                    content: "\f046";
                    font-family: FontAwesome;
                    padding-right: 0.3rem;
                }
            }
            dl.menu {
                dt:before {
                    content: "\f111";
                    font-family: FontAwesome;
                    padding-right: 0.3rem;
                }
                dd dt:before {
                    font-size: 0.5rem;
                }
            }
        }
    }
    .prices {
        a {
            text-decoration: underline;
        }
        .message {
            margin: 1rem 0;
        }
    }
}
