@charset 'utf-8';

@import 'sanitize';
* {
    min-height: 0;
    min-width: 0;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
}
@import 'variables';
@import 'common';
@import 'layout/header';
@import 'layout/side';
@import 'layout/footer';
@import 'components/slider';
@import 'components/form';
@import 'components/card';
@import 'components/heading';
@import 'components/breadcrumbs';

.contents {
    display: flex;
    .main {
        flex: 1 1 0;
        width: 100%;
        padding-bottom: 2rem;
    }
}

@import 'index';
/**
 * services
 */
@import 'service';
@import 'office';
@import 'wax';
@import 'carpet';
@import 'house';
@import 'aircon';
@import 'apaman';
@import 'contacts';
@import 'news';

/**
 * static
 */
@import 'privacy';
@import 'corp';

@media screen and (max-width: 640px) {
    .header {
        .logo {
            flex: 0 0 100%;
        }
        .inquiry {
            flex: 0 0 100%;
        }
    }
    .side {
        display: none;
    }
    .services .service {
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer {
        .footer {
            padding: none;
        }
        .footer.corporation {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
}
@media screen and (min-width: 641px) {
    .services .service {
        flex: 0 0 50%;
        max-width: 50%;
    }
    footer {
        .footer {
            padding: 0 1rem 0 0;
        }
        .footer.corporation {
            margin-left: auto;
        }
    }
}
