.footer {
    padding: 1rem 0;
    background-color: $color-lightgrey;
    font-size: 0.8rem;
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .link {
            padding: 0 0.5rem;
            a {
                color: $color-black;
            }
        }
        .link + .link {
            border-left: 1px solid $color-gray;
        }
    }
    .copyright {
        margin: 0.5rem 0 1rem;
        color: $color-black;
        text-align: center;
    }
}
