        <% provide(:title, '会社概要 | メリエックス株式会社') %>

        <main class="container corp">
            <div class="contents">
                <%= render 'shared/nav' %>
                <div class="main">
                    <div class="heading">
                        <h2>会社概要</h2>
                    </div>
                    <div class="philosophy">
                        <h3>経営理念</h3>
                        <div class="vision">
                            <p>お客様により一層価値あるサービスを提供し、美しさ、清潔を追求する</p>
                            <p>お客様に満足して頂く為、 社員が思う存分にその能力を発揮できる職場を目指す</p>
                        </div>
                        <div class="message">
                            <p>上記の理念を実現していく為、</p>
                            <p>社員一同は以下の行動を心がけています</p>
                        </div>
                        <ol>
                            <li>心を込めて爽やかに挨拶をします</li>
                            <li>感謝の気持ちは言葉で表します</li>
                            <li>プロとしての自覚を持ち、研究を怠りません</li>
                            <li>自分一人では大きな仕事は出来ない。皆の力、知恵を集めていきます</li>
                        </ol>
                    </div>
                    <div class="corporation">
                        <table>
                            <caption>会社概要</caption>
                            <tbody>
                                <tr>
                                    <th>社名</th>
                                    <td>メリエックス株式会社</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>〒124-0022
                                    東京都葛飾区奥戸2-8-15</td>
                                </tr>
                                <tr>
                                    <th>代表者</th>
                                    <td>代表取締役　春日　裕司</td>
                                </tr>
                                <tr>
                                    <th>資本金</th>
                                    <td>10,000,000円</td>
                                </tr>
                                <tr>
                                    <th>設立</th>
                                    <td>平成14年11月</td>
                                </tr>
                                <tr>
                                    <th>事業内容</th>
                                    <td>
                                        <ul>
                                            <li>ビルメンテナンス(日常清掃・定期清掃・清掃全般)</li>
                                            <li>ハウスクリーニング(マンション・アパート等の清掃)</li>
                                            <li>ビル・マンション等の管理</li>
                                            <li>3次元建築CADシステム販売・指導</li>
                                            <li>配送業務</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>取引会社</th>
                                    <td>
                                        <ul>
                                            <li>日刊スポーツ</li>
                                            <li>上智社会事業団（病院・介護施設・保育園）</li>
                                            <li>株式会社 イトー医科器械</li>
                                            <li>永島医科器械 株式会社</li>
                                            <li>東京消防庁</li>
                                            <li>三洋試験機工業株式会社</li>
                                            <li>保育園・幼稚園（多数）</li>
                                            <li>歯科（多数）</li>
                                            <li>病院・クリニック（多数）</li>
                                            <li>docomo</li>
                                            <li>au</li>
                                            <li>softbank</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>営業エリア</th>
                                    <td>
                                        <p>東京都・千葉県・埼玉県・神奈川県</p>
                                        <p>(茨城県・栃木県・群馬県は相談にて対応)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>営業時間</th>
                                    <td>
                                        <p>電話受付(土日祝を除く9：00～18：00)</p>
                                        <p>作業時間(24時間対応)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>問い合わせ先</th>
                                    <td>
                                        <ul>
                                            <li>フリーダイヤル: 0120-290-298</li>
                                            <li>TEL: 03-3693-7502</li>
                                            <li>FAX: 03-3696-5140</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
