main.aircon {
    .works {
        p {
            margin: 0;
        }
        strong {
            line-height: 2.5rem;
            padding: 0.5rem;
            font-size: 1.5rem;
            color: $color-red;
        }
    }
    .images {
        .slider.business {
            .slide.slide1 {
                background: url(/img/services/aircon/business/1.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/services/aircon/business/2.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/services/aircon/business/3.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/services/aircon/business/4.jpg) center / contain no-repeat;
            }
            .slide.slide5 {
                background: url(/img/services/aircon/business/5.jpg) center / contain no-repeat;
            }
            .slide.slide6 {
                background: url(/img/services/aircon/business/6.jpg) center / contain no-repeat;
            }
            .slide.slide7 {
                background: url(/img/services/aircon/business/7.jpg) center / contain no-repeat;
            }
            .slide.slide8 {
                background: url(/img/services/aircon/business/8.jpg) center / contain no-repeat;
            }
        }
        .slider.consumer {
            .slide.slide1 {
                background: url(/img/services/aircon/consumer/1.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/services/aircon/consumer/2.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/services/aircon/consumer/3.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/services/aircon/consumer/4.jpg) center / contain no-repeat;
            }
            .slide.slide5 {
                background: url(/img/services/aircon/consumer/5.jpg) center / contain no-repeat;
            }
            .slide.slide6 {
                background: url(/img/services/aircon/consumer/6.jpg) center / contain no-repeat;
            }
            .slide.slide7 {
                background: url(/img/services/aircon/consumer/7.jpg) center / contain no-repeat;
            }
        }
        .slider.beforeafter {
            .slide.slide1 {
                background: url(/img/services/aircon/beforeafter/1.jpg) center / contain no-repeat;
            }
            .slide.slide2 {
                background: url(/img/services/aircon/beforeafter/2.jpg) center / contain no-repeat;
            }
            .slide.slide3 {
                background: url(/img/services/aircon/beforeafter/3.jpg) center / contain no-repeat;
            }
            .slide.slide4 {
                background: url(/img/services/aircon/beforeafter/4.jpg) center / contain no-repeat;
            }
        }
    }
}
